@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Flamenco&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --bg-color: rgb(35, 28, 41);
  --font-color: snow;
  --inputarea:rgb(83, 59, 108);
  --headingcolor:rgb(196, 189, 189);
  --incorectchar:rgb(255, 0, 85);
  --quotecol:rgb(236, 83, 155);
  --restartBtn: rgb(179, 68, 235);
  --timemode:rgb(236, 83, 155);
  --timer:linear-gradient(90deg, rgba(227,54,113,1) 0%, rgba(237,119,115,1) 100%);
  --errorCol: rgb(245, 46, 112);
  --accuracy:rgb(71, 171, 113);
}

[data-theme="light"] {
  --bg-color: linear-gradient(45deg,#405de6,#4138f5,#833ab4,#c13584,#e1306c,#Fd1ddd);
  --font-color: #222;
  --inputarea:rgb(52, 46, 59);
  --headingcolor:rgb(255, 255, 255);
  --incorectchar:rgb(240, 94, 143);
  --quotecol: rgb(223, 153, 186);
  --restartBtn: rgb(233, 104, 136);
  --timemode:rgb(78, 4, 29);
  --timer:linear-gradient(90deg, rgb(240, 70, 127) 0%, rgb(237, 115, 151) 100%);
  --errorCol: rgb(235, 96, 138);
  --accuracy:rgb(40, 150, 89);
}
body {
  background:var(--bg-color);
  color: var(--font-color);
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* TOGGLE  */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  background-color: rgb(255, 255, 255);
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider {
  background: linear-gradient(90deg, rgba(227,54,113,1) 0%, rgba(237,119,115,1) 100%);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider svg {
  color: rgb(38, 57, 161);
  position: absolute;
  transition: opacity 0.2s ease 0s, transform 0.35s ease 0s;
  pointer-events: none;
}

.feather-moon {
  opacity: 0;
  left: 9px;
  bottom: 9px;
  transform: translateX(4px);
}

.feather-sun {
  opacity: 1;
  right: 10px;
  bottom: 9px;
  transform: translateX(0px);
}

input:checked + .slider .feather-moon {
  opacity: 1;
  transform: translateX(0);
}

input:checked + .slider .feather-sun {
  opacity: 0;
  transform: translateX(-4px);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.limit{
  display: flex;
  width: 30%;
  justify-content: space-around;
  margin-bottom: 10px;
}
.limit a{
  cursor: pointer;
}
.limit a:hover{
  color: #ee4e81;
}

.heading {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Flamenco', cursive;
  color: var(--headingcolor);
}

.header {
  display: flex;
  align-items: center;
}
.limit{
  color: white;
}

.timer
{

  background: var(--timer);
  height: 70px;
  width: 80px;
  margin: 8px;
  padding: 13px 6px;
  border-radius: 5px;
  color:white;
}
.cpm{
  background: rgb(71, 106, 171);
  height: 70px;
  width: 80px;
  margin: 8px;
  padding: 12px;
  border-radius: 5px;
  color:white;
}
.wpm{
  background: rgb(137, 31, 163);
  height: 70px;
  width: 80px;
  margin: 8px;
  padding: 12px;
  border-radius: 5px;
  color:white;
}
.accuracy{
  background: var(--accuracy);
  height: 70px;
  width: 80px;
  margin: 8px;
  padding: 13px 6px;
  border-radius: 5px;
  color:white;
}
.errors{
  background:var(--errorCol);
  height: 70px;
  width: 80px;
  margin: 8px;
  padding: 13px 6px;
  border-radius: 5px;
  color:white;
}

.cpm, .wpm  {
  display: none;
}

.header_text {
  text-transform: uppercase;
  font-size: 0.6rem;
  font-weight: 600;
}

.curr_time, .curr_errors,
.curr_accuracy, .curr_cpm,
.curr_wpm {
  font-size: 2.75rem;
}

.quote {
  border:2px dotted var(--quotecol);
  font-size: 1.5rem;
  margin: 10px;
  padding: 25px;
  max-width:80%;
  color: snow;

}

.input_area {
  background-color: var(--inputarea);
  border: 0;
  margin-top: 10px;
  width: 60%;
  font-size: 18px;
  padding: 26px;
  color: white;
  outline: 0;
 
}

.incorrect_char {
  color:var(--incorectchar);
  text-decoration: underline;
}

.correct_char {
  color: rgb(113, 255, 113);
}

.restart_btn {
  background-color:var(--restartBtn);
  border: none;
  color:white;
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 28px;
  margin-top: 20px;
  border-radius: 4px;
  transition: 300ms ease;
}

.restart_btn:hover{
  background-color: rgb(138, 62, 209);
}
.select{
    position: relative;
    font-family: Arial;
}


a{
  text-decoration: none;
}
.rayon{
  color: pink;
}
.rayon:hover{
  color:#ee4e81
}
.dropbtn {
  background-color: #ee4e81;
  color: white;
  padding: 16px;
  width: 100%;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(227,54,113);
  background: linear-gradient(90deg, rgba(227,54,113,1) 0%, rgba(237,119,115,1) 100%);
  min-width: 100%;
  color: rgb(238, 212, 212);
  box-shadow: 0px 8px 16px 0px rgba(92, 77, 77, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(219, 197, 197);
  padding: 12px 16px;
  
  text-decoration: none;
  transition: 400ms;
  display: block;
}

.dropdown-content a:hover {
  color: rgb(255, 255, 255);
  transform: translateX(-10px);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #e4426a;
}
@media only screen and (max-width: 600px) {
  .quote,.input_area{
      width:90%;
  }
  
  .header {
      display: flex;
      flex-wrap: wrap;
  }

}
